@import '../scss/variables';


.content {
    display: grid;
    grid-template-columns: 130px 300px;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;

    // background-color: var(--color3);
    .image img {
        width: 100px;
        border-radius: 50%;
    }

    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }

    .svg img {
        width: 30px;
        height: 30px;
    }

    .age {
        grid-column: 1/3;
    }

    .regdate {
        grid-column: 1/3;
    }

    h4 {
        font-weight: 400;
    }

}